---
import Layout from '@layouts/Single.astro'
import { Link, PageHeader, Picture, YoutubeWrapper } from '@components'
---

<Layout>
  <PageHeader>Hr. Litto</PageHeader>
  <div class="left">
    <Picture src="litto_hrlitto_process.png" height="556" width="1000" credits="AI generated avatar tensorflow 2020"/>

    <YoutubeWrapper id="Dy36d_cNQq4" title="Hr. Litto Teaser" height="315" width="560" />
    <Picture src="litto_hrlitto_mirror.jpg" height="1600" width="1200" />
    <Picture src="litto_hrlitto_skybox.jpg" height="704" width="1000" credits="AR object of performance" />

    <Picture src="litto_hrlitto_sketch.jpg" height="750" width="1000" />
    <Picture src="litto_hrlitto_inst.jpg" height="1334" width="750"/>
    <Picture src="litto_hrlitto_phone.jpg" height="1280" width="960"/>
  </div>

  <div class="right">
    <h3>How do we perceive our own self in a digitised reflected reality?</h3>

    <div class="content">
      <p>
        <span class="bold uppercase">Hr. Litto</span>
         is my virtual avatar. Our bipolar relation_ship reacts to the multichannel reflections of
        our real identity in the metaverse and to the growing trend of enhancing ourselves in
        virtual space. Hr. Litto was created by an AI, based on a dataset derived from a male
        portrait drawing.
      </p>

      <p class="ellipsis">...</p>
    </div>

    <div class="link">
      <p>
        <Link
          href="https://artificialmuseum.com/eu/at/vienna/thesystem/fakemirror/#18/48.2131/16.3358">
          @ Artificial Museum
        </Link>
        <br />
        <Link href="https://www.instagram.com/minusoffspace/">@ MinusOffSpace</Link>
        <br />
        <Link href="https://www.nextmuseum.io/">
          @ NextMuseum.io
        </Link>
      </p>
    </div>
  </div>
</Layout>
