$white = #fefefe
$black = #010101

$body-background-color = #1d1d1d

$text-color = $white
$text-color-subtle = $white
$text-color-light = $white


$link-color = $white
$link-hover-color = #ff008d
$link-hover-color-svg = #ff008d

$padding-side =  2%
