$white = #fefefe
$black = #171821

$body-background-color = #171821
$accent-color = #666
$wrapper-text-color = #333

$text-color = $white
$text-color-subtle = $white
$text-color-light = $white


$link-color = #FF0084
$link-hover-color = $white
$link-hover-color-svg = #FF0084

$padding-side =  1%

$video-background-color = #171821
